.text-left {
    text-align: left;
}

.card-badge {
    font-weight: 500;
    size: 18px;
    line-height: 29.52px;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
}

.text-right {
    text-align: right;
}

.profile-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

.card-text {
    color: #5C5C5C;
    font-size: 19px;
}

.views,
.views-2 {
    color: #5C5C5C;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.hide {
    display: none !important;
}

.btn-outline-timeline {
    color: #E56135 !important;
    border: 0.7px solid #A9AEB8 !important;
}

.btn-outline-job {
    color: #02B875 !important;
    border: 0.7px solid #A9AEB8 !important;
}

.text-date {
    font-weight: 600;
    font-size: 15px;
}

.card-title .dropdown-menu {
    top: -21px !important;

}